<% dishes = HTTParty.get("http://api.menus.nypl.org/dishes?token=selsce5qphehgzeqw2cke6jb2e") %>




<script>
  $.getJSON("http://api.menus.nypl.org/dishes?token=selsce5qphehgzeqw2cke6jb2e", function(data) {
    console.log(data);
    var items = [];
    $.each( data, function( key, val ) {
      items.push( "<li id='" + key + "'>" + val + "</li>" );
    });

    $( "<ul/>", {
      "class": "my-new-list",
      html: items.join( "" )
    }).appendTo( "body" );
  });
  $(function(){
  alert("I'm a ready shortcut");
});
</script>
