<!DOCTYPE html>
<html>
<head>
  <title>MenuHistory</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<h1>Welcome to The Menu Archives!</h1>
<p>Please pick a decade to see a list of the top dishes served back then. Think you can find that dish today?</p>

<button type="button">Click Me!</button>
<button type="button">Click Me!</button>
<button type="button">Click Me!</button>
<button type="button">Click Me!</button>
<button type="button">Click Me!</button>


</body>
</html>
