<% @local_search['objects'][0]['venue'].each do |restaurant|  %>
  <div>
    <h1><%= restaurant["name"] %></h1>
    <h4>lat: <%= restaurant["lat"] %></h4>
    <h4>long: <%= restaurant["long"] %></h4>
  </div>
<% end %>
