<% @local_search['objects'][0..4].each do |restaurant|  %>
  <div>
    <h1><%= restaurant["venue"]["name"] %></h1>
    <h4>lat: <%= restaurant["venue"]["lat"] %></h4>
    <h4>long: <%= restaurant["venue"]["long"] %></h4>
  </div>
<% end %>
